{% extends "base.html.twig" %}


{% block title %}
    Une erreur est survenue {{ status_text }} - {{ parent() }}
{% endblock %}

{% block infos %}
{% endblock infos %}

{% block body %}
    <div class="col s12 black border-dark-red">
        <h2 class="txt-red center">Page introuvable</h2>
        <p>La page que vous avez demmandée est introuvable</p>
    </div>

    <div class="col s12 grey darken-1">
        <h4 class="center"><a href="{{ path('oc_louvre_homepage') }}">Revenir à page d'accueil</a></h4>
    </div>

{% endblock body %}