{% extends 'Default/index.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {# messageFlash #}
        {% block flash_messages %}
            {{ parent() }}
        {% endblock %}
        {# /messageFlash #}
        <section class="section-home" id="home">
            <h1>Musée du
                <br>
                <span>LOUVRE</span>
            </h1>

            <a href="{{ path('oc_louvre_homepage')}}" class="btn-retour position-fixed fixed-top text-white m-4 font-weight-bold">Accueil</a>

            <div class="container card">
                <h3 class="mt-3">Billeterie:</h3>

                {{ form_start(form) }}
                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.dateVisite, "Date de votre visite", {'label_attr': {'class': 'control-label'}}) }}
                    {{ form_errors(form.dateVisite) }}
                    {{ form_widget(form.dateVisite, {'attr': {'class': 'form-control datepicker'}}) }}
                </div>

                <hr>

                <div class="well">
                    {{ form_row(form.tickets) }}
                    <a href="#" id="add_category" class="btn btn-default my-3 mb-3 text-primary">Ajouter un ticket</a>
                </div>

                <div class="form-group">
                    {{ form_errors(form.emailSend) }}
                    {{ form_widget(form.emailSend, {'attr': {'class': 'form-control'}}) }}
                </div>

                {{ form_widget(form.save, {'attr': {'class': 'btn btn-lg btn-warning my-3 float-right text-white'}}) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </section>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset ('js/datepicker.js')}}" type="text/javascript"></script>
    <script src="{{ asset ('js/add-collection-widget.js')}}" type="text/javascript"></script>
{% endblock %}