{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="{{ asset ('css/styles.css')}}">
{% endblock %}

{% block body %}
    <div class="container-fluid">

    {# messageFlash #}
    {% block flash_messages %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert" id="messageFlash">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ message | raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
    {# /messageFlash #}

    <section class="section-home" id="home">
        <h1>Musée du
            <br>
            <span>LOUVRE</span>
        </h1>
        <button class="btn-reserv"><a href="{{ path('oc_louvre_new_commande') }}">Billeterie</a></button>
        <button class="btn-horaires">Horaires</button>
        <button class="btn-tarifs">Tarifs</button>
        <button class="btn-contact">Contact</button>
    </section>

        <!-- horaires -->
        {{ include('Layout/horaires.html.twig') }}
        <!-- /horaires -->

        <!-- tarifs -->
        {{ include('Layout/tarifs.html.twig') }}
        <!-- /tarifs -->

        <!-- contact -->
        {{ include('Layout/contact.html.twig') }}
        <!-- /contact -->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset ('js/jquery-3-3-1.js')}}" type="text/javascript"></script>
    <script src="{{ asset ('js/bootstrap.min.js')}}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/locales/bootstrap-datepicker.fr.min.js"></script>
    <script src="{{ asset ('js/app.js')}}" type="text/javascript"></script>
{% endblock %}