<section id="contact" class="section-content section-content-contact hide">
  <div class="section-contact-header">
      <h2>Contact</h2>
      <span id="contactClose" class="close">X</span>
  </div>
  <div class="contact-section-content">
    <p>Pour obtenir des informations sur le musée, les services à votre disposition et notre actualité, l’équipe du service de l’accueil est à votre disposition :</p>
    <address>
    Musée du Louvre <br>
    75058 Paris CEDEX 01 <br>
    France <br> 
    </address>
    <p>téléphone : <br>
    +33 (01) 40 20 50 50</p>
    <p>Email : <br>
<a href="mailto:contact@muséedulouvre.fr">contact@muséedulouvre.fr</a>
</p>
  </div>
</section>