<section id="horaires" class="section-content section-horaires hide">
  <div class="section-horaires-header">
    <h2>Horaires : </h2>
    <span id="horairesClose" class="close">X</span>
  </div>
  <div class="horaires-section-content">
    <table class="horaire-table">
      <tbody>
        <tr>
          <td class="horaire-jour">Lundi : </td>
          <td>8h:30</td>
          <td> - </td>
          <td>17h:30</td>
          </td>
        </tr>
        <tr>
          <td class="horaire-jour">Mardi : </td>
          <td>fermé</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="horaire-jour">Mercredi : </td>
          <td>8h:30</td>
          <td> - </td>
          <td>17h:30</td>
        </tr>
        <tr>
          <td class="horaire-jour">Jeudi : </td>
          <td>8h:30</td>
          <td> - </td>
          <td>17h:30</td>
        </tr>
        <tr>
          <td class="horaire-jour">Vendredi : </td>
          <td>8h:30</td>
          <td> - </td>
          <td>18h:30</td>
        </tr>
        <tr>
          <td class="horaire-jour">Samedi : </td>
          <td>8h:30</td>
          <td> - </td>
          <td>20h:30</td>
        </tr>
        <tr>
          <td class="horaire-jour">Dimanche : </td>
          <td>8h:30</td>
          <td> - </td>
          <td>17h:30</td>
        </tr>
      </tbody>
    </table>
    <p>Le musée est fermé les 1er mai, 1er novembre et 25 décembre.</p>
  </div>
</section>