{% extends 'Default/index.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset ('css/stripe.css')}}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        {# messageFlash #}
        {% block flash_messages %}
            {{ parent() }}
        {% endblock %}
        {# /messageFlash #}

        <section class="section-home" id="home">
            <h1>Musée du
                <br>
                <span>LOUVRE</span>
            </h1>

            <a href="{{ path('oc_louvre_homepage')}}" class=" btn-retour position-fixed fixed-top text-white m-4 font-weight-bold">Accueil</a>

            <div class="container card">
                <a href="{{ path('oc_louvre_new_commande')}}" class="btn-retour position-relative text-warning position-relative-top font-weight-bold my-2">Retour</a>
                <h3 class="mt-3">Récapitulatif de vôtre commande : </h3>

                <p>Nombre de billets : {{commande.tickets|length}}.<br>
                    Montant de votre commande : {{commande.priceTotal}}€<br>
                    Adresse de réception des billets : {{commande.emailSend}}
                </p>

                <div class="row">
                {% for ticket in commande.tickets%}
                    <div class="mt-2 col-lg-3 col-md-4 col-sm-12 col-xs-12 card m-md-2 p-3">
                        <p>Billet {{loop.index}} :<br>
                            Nom : {{ ticket.visitor.surname }} <br>
                            Prénom : {{ ticket.visitor.name }} <br>
                            Prix : {{ ticket.price }}€ <br>
                            Pays : {{ ticket.visitor.country }} <br>
                            Type : {% if ticket.halfday == true %}
                                Demi-journée{% else %} Journée
                            {% endif %} <br>
                            tarif réduit : {% if ticket.visitor.reduction == true %}
                                oui{% else %}non
                            {% endif %}<br>

                        </p>
                    </div>
                    {% endfor %}
                </div>
                <h3 class="mt-3">Paiement :</h3>

                <form method="post" id="payment-form" class="mt-2">
                    <label for="card-element">
                        Entrer vos informations bancaire.
                    </label>
                    <div id="card-element" class="w-100">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>

                    <button class="btn btn-warning text-white btn-lg my-3 float-right col-md-2">Payer</button>
                </form>
            </div>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ asset ('js/stripe.js')}}" type="text/javascript"></script>
{% endblock %}